<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="cn.com.cxsw.core.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="cn.com.cxsw.core.Perspective"
            icon="cp.perspective1"
            id="cp.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="cn.com.cxsw.module.index.IndexEditor"
            id="cn.com.cxsw.module.index.IndexEditor"
            name="首页">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="cn.com.cxsw.view.IndexMainView"
            id="cn.com.cxsw.view.IndexMainView"
            name="首页">
      </view>
      <view
            class="cn.com.cxsw.view.IndexTopView"
            id="cn.com.cxsw.view.IndexTopView"
            name="首页包含（上）">
      </view>
      <view
            class="cn.com.cxsw.view.IndexBottomView"
            id="cn.com.cxsw.view.IndexBottomView"
            name="首页包含（下）">
      </view>
   </extension>

</plugin>
